@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,700|Fira+Code:400,700|Open+Sans:400,400i&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    background: #fbfbfb;
    font-size: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% auto;
}

.code {
        font-family: "Fira Code", monospace;
        font: bold;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    padding: 0;
    margin: 0;
    height: 5vh;
}

.designsystem {
    text-align: left;
    width: 80%;
    margin: auto auto;
}



.font-container {
    text-align: left;
    
}


.logo {
    width: 100px;
    margin: 1vh 2vh;
    padding: 0;
    float: left;
}

nav ul {
    margin: 1vh 1vh;
}

nav ul li {
    float: right;
    list-style-type: none;
    margin: 0vh 1vh;
}
nav a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: barlow;
}

nav a:hover {
    color: rgba(255, 255, 255, 1)
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 30px;
}

footer p {
    font-size: 0.8em;
    margin: 0.5vh 1vh;
}

table {

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
 }

table h2 {
    text-transform: uppercase;
}

 table p {
          font-size: 0.8em;
            margin: 5px;
        }

 table th {
          text-align: left;

 }

 table td {
    vertical-align: text-top;
}


 .rarticle {
     margin-bottom: 10vh;
 }

.sleft {
    text-align: left;
    background: linear-gradient(160deg, #601df7 0%, #8800ff 100%);
    padding: 1em 4em 0em 5em;
    float: left;
    
}  

.titlecontent h1 {
    color: white;
    display: grid;
    margin: 1em 0;
    font-size: 4.5em;
}

.sleft p { 
    display: grid;
    color: white;
}


.sone   {
    padding-left: 1.3em;
}
.stwo   {
    padding-left: 2.0em;
}
.sthree   {
    padding-left: 0.5em;
}


.sright  {
    text-align: center;
    padding: 3em 1em;
    float: right;
    overflow: auto;
    
}


.proto-container {
    clip-path: inset(0 45% -10% 0);
    position: absolute;
    top: 20%;
    height: 70%;
    z-index: 0;
    width: 100%;
    pointer-events: none;
}
.proto {
    border: 3px solid rgba(255, 255, 255, 0.1);
    width: 19%;
    height: 80%;
    float: left;
    margin-left: 1em;
    transform: translateX(10%);

}

.proto1 {
    border: 3px solid rgba(255, 255, 255, 0.1);
    width: 19%;
    height: 80%;
    float: left;
    margin-left: -5em;
    margin-top: 4em;
    transform: translateX(10%);
}

.proto2 {
    margin-left: -6em;
}